<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/app/assets/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700"
          rel="stylesheet">
</head>
<body style="background-color:#ffffff;">
<div style="background-color:#ffffff;">
    <div style="margin:0 auto;max-width:600px;">
        <table class="main-table" role="presentation">
            <tbody>
            <tr>
                <td style="direction:ltr;font-size:0;padding:20px 0;text-align:center;">
                    <div class="mj-column">
                        <table role="presentation" style="width:100%;">
                            <tr>
                                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                                    <p style="border-top:solid 4px #555555;font-size:2px;margin:0 auto;width:100%;"></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:20px;padding:10px 25px;word-break:break-word;text-align:left;color:#555555;">
                                    {{ project_name }} - New Account
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:16px;padding:10px 25px;word-break:break-word;text-align:left;color:#555555;">
                                    You have a new account:
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:16px;padding:10px 25px;word-break:break-word;text-align:left;color:#555555;">
                                    Username: {{ username }}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:0;padding:50px 0;word-break:break-word;text-align:center;">
                                    <table class="button-table"
                                           role="presentation">
                                        <tr>
                                            <td class="button-cell">
                                                <a class="button-link"
                                                   href="{{ link }}"
                                                   target="_blank">Go to
                                                    Dashboard</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                                    <p style="border-top:solid 2px #555555;font-size:2px;margin:0 auto;width:100%;"></p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
