<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/app/assets/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700"
        rel="stylesheet">
</head>
<body style="background-color:#ffffff;">
<div style="background-color:#ffffff;">
  <div style="margin:0 auto;max-width:600px;">
    <table class="main-table-centered" role="presentation">
      <tbody>
      <tr>
        <td class="center" style="direction:ltr;font-size:0;padding:20px 0;">
          <div class="mj-column">
            <table class="inner-table" role="presentation">
              <tr>
                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                  <p class="separator"></p>
                </td>
              </tr>
              <tr>
                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                  <div class="heading">
                    {{ project_name }} - Password Recovery
                  </div>
                </td>
              </tr>
              <tr>
                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                  <div class="content">
                    We received a request to recover the password for user {{
                    username }} with email {{ email }}
                  </div>
                </td>
              </tr>
              <tr>
                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                  <div class="content">
                    Reset your password by clicking the button below:
                  </div>
                </td>
              </tr>
              <tr>
                <td style="font-size:0;padding:50px 0;word-break:break-word;text-align:center;">
                  <table role="presentation"
                         style="border-collapse:separate;line-height:100%;">
                    <tr>
                      <td class="button">
                        <a href="{{ link }}" target="_blank">Reset Password</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                  <div class="content">
                    Or open the following link:
                  </div>
                </td>
              </tr>
              <tr>
                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                  <div class="content">
                    <a href="{{ link }}">{{ link }}</a>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                  <p class="separator-sm"></p>
                </td>
              </tr>
              <tr>
                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                  <div class="footer">
                    The reset password link / button will expire in {{
                    valid_hours }} hours.
                  </div>
                </td>
              </tr>
              <tr>
                <td style="font-size:0;padding:10px 25px;word-break:break-word;">
                  <div class="footer">
                    If you didn't request a password recovery, you can disregard
                    this email.
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
