<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/app/assets/css/styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700"
        rel="stylesheet">
</head>
<body style="background-color:#ffffff;">
<div style="background-color:#ffffff;">
  <div style="Margin:0 auto;max-width:600px;">
    <table class="table-center table-collapse" role="presentation"
           style="width:100%;">
      <tbody>
      <tr>
        <td class="p-20"
            style="direction:ltr;font-size:0;text-align:center;vertical-align:top;">
          <div class="mj-column-per-100 outlook-group-fix"
               style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;">
            <table class="table-collapse border-none table-full-width"
                   role="presentation" style="vertical-align:top;">
              <tr>
                <td class="px-25 pb-10 border-top"
                    style="font-size:0;word-break:break-word;">
                  <p style="font-size:2px;margin:0 auto;width:100%;"></p>
                </td>
              </tr>
              <tr>
                <td class="px-25 pb-10 text-left"
                    style="font-size:0;word-break:break-word;">
                  <div style="font-family:helvetica,serif;font-size:20px;line-height:1;color:#555555;">
                    {{ project_name }}
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-25 pb-10 text-left"
                    style="font-size:0;word-break:break-word;">
                  <div style="font-family:Ubuntu, Helvetica, Arial, sans-serif;font-size:16px;line-height:1;color:#555555;">
                    Test email for: {{ email }}
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
